# Testing Efficient Methods to Convert Location to Coordinates

In [1]:
import pandas as pd
import re  # regex library

In [2]:
data = pd.read_csv('./data/alldata.csv')

Drop extra index Unnamed

In [3]:
data.drop(columns='Unnamed: 0', inplace=True)

Check data types

In [4]:
data.dtypes

date        object
text        object
keywords    object
location    object
source      object
dtype: object

In [5]:
#Strip off the nanoseconds and convert to datetime

In [6]:
#data['date']=data['date'].map({'+00:00':''})

In [7]:
#data['date']=pd.to_datetime(data['date'])

In [8]:
#data.set_index('date', inplace = True)

In [9]:
data.shape

(14233, 5)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14233 entries, 0 to 14232
Data columns (total 5 columns):
date        14233 non-null object
text        14232 non-null object
keywords    3843 non-null object
location    14 non-null object
source      14233 non-null object
dtypes: object(5)
memory usage: 556.1+ KB

In [11]:
data.source.value_counts()

MnDOTnews         4929
mndotsoutheast    2908
MnDPS_MSP         2675
mndotscentral     1221
newsapi           1000
MnDOTcentral       712
mndotwcentral      306
MnDOTnorthwest     255
MnDOTtraffic       213
mn511               14
Name: source, dtype: int64

Team decided to consolidate the sources, since most were from one place

In [12]:
data['source'] = data['source'].map({'MnDOTnews': 'twitter', 
                                 'mndotsoutheast': 'twitter',
                                 'MnDPS_MSP': 'twitter',
                                 'mndotscentral': 'twitter',
                                 'MnDOTcentral': 'twitter',
                                 'mndotwcentral': 'twitter',
                                 'MnDOTnorthwest': 'twitter',
                                 'MnDOTtraffic': 'twitter',
                                 'mn511': 'mn511',
                                 'newsapi': 'newsapi'
                                 
                                })

In [13]:
data.source.value_counts()

twitter    13219
newsapi     1000
mn511         14
Name: source, dtype: int64

In [14]:
data.head(10)

,date,text,keywords,location,source
0,2019-04-12 12:40:24+00:00,Crash at Hwy 12/25 south of Buffalo. Traffic i...,NaN,NaN,twitter
1,2019-04-12 00:05:20+00:00,"WB I-94, west of Sauk Centre- closed due to du...",NaN,NaN,twitter
2,2019-04-11 22:30:44+00:00,No travel advised on Hwy 169 along the west si...,NaN,NaN,twitter
3,2019-04-11 22:17:09+00:00,No Travel Advised has been expanded to include...,#Stearns #centralMN,NaN,twitter
4,2019-04-11 19:49:47+00:00,No Travel Advisory issued for I-94 through @St...,NaN,NaN,twitter
5,2019-04-11 17:21:30+00:00,I-94 Clearwater to St. Cloud - all lanes are n...,#centralMN,NaN,twitter
6,2019-04-11 16:41:28+00:00,I-94 Clearwater to St. Cloud - both directions...,NaN,NaN,twitter
7,2019-04-11 14:26:49+00:00,Eastbound I-94 Monticello to Albertville - all...,#centralMN,NaN,twitter
8,2019-04-11 12:33:31+00:00,Hazardous driving conditions with ice covered ...,#Sherburne,NaN,twitter
9,2019-04-11 10:32:42+00:00,Eastbound I-94 Monticello to Albertville - clo...,NaN,NaN,twitter

In [16]:
#data['date'] = pd.to_datetime(data['date'])

In [17]:
mask_road = data['text'].str.contains('road'or'street', regex=False, case=False)
mask_closed = data['text'].str.contains('closed'or'blocked', regex=False, case=False)
df = data[mask_road & mask_closed]

In [18]:
df.shape

(300, 5)

In [19]:
df['text'][6]

'I-94 Clearwater to St. Cloud - both directions closed due to semi crashes. Roads are icy or compacted, with very high winds. Postpone travel if possible.'

In [20]:
#pip install geocoder paste this in terminal

In [21]:
import geocoder

g = geocoder.arcgis('Redlands, CA')
print(g.latlng)#latlng is a tuple representing latitude and longditude

[34.05538000000007, -117.18258999999995]

In [22]:
g = geocoder.arcgis('I 94 Clearwater, MN')
print(g.latlng)#latlng is a tuple representing latitude and longditude

[45.40496523447652, -94.04437592230032]

In [23]:
g = geocoder.arcgis('10 E23rd St, New York, NY')
print(g.latlng)#latlng is a tuple representing latitude and longditude

[40.635520376074794, -73.74139376019966]

In [24]:
g = geocoder.arcgis('5th Ave and 23rd St, New York, NY')
print(g.latlng)#latlng is a tuple representing latitude and longditude

[40.660208999999995, -73.99458]

In [25]:
g = geocoder.arcgis('St.Cloud, MN')
print(g.latlng)

[45.56586000000004, -94.19751999999994]

In [26]:
g = geocoder.arcgis('Interstate 94')#this maybe incorrect
print(g.latlng)

[41.256360080500855, 13.60799996335631]

In [27]:
g = geocoder.arcgis('I 94')#this maybe incorrect
print(g.latlng)

[-34.60789999999997, -58.73025999999999]

In [28]:
g = geocoder.arcgis('I-94')#this maybe incorrect
print(g.latlng)

[-34.60789999999997, -58.73025999999999]

In [29]:
g = geocoder.arcgis('I-94, MN')#this maybe incorrect
print(g.latlng)

[46.44197934657771, -96.23760652421502]

In [30]:
g = geocoder.arcgis('Interstate 94 Eastbound, Stearns County Road 75')
print(g.latlng)

[45.72628124328748, -94.96619521064468]

In [31]:
g = geocoder.arcgis('Fanny Lake Road, Cambridge')
print(g.latlng)

[45.55883310433924, -93.16941508264307]

In [32]:
g = geocoder.arcgis('Interstate 94, Highway 4, Cambridge')# this maybe incorrect
print(g.latlng)

[41.231598583132225, -90.13775190358274]

In [33]:
g = geocoder.arcgis('New Munich')
print(g.latlng)

[45.628820000000076, -94.75394999999997]

In [34]:
g = geocoder.arcgis('County Road 142') # this is probably incorrect
print(g.latlng)

[54.28971291300007, 9.781941293000045]

In [35]:
g = geocoder.arcgis('Mille Lacs, Kanabec')
print(g.latlng)

[45.94518905800004, -93.29345003299994]

In [36]:
g = geocoder.arcgis('Dakota County Road 47')
print(g.latlng)

[44.720457185206186, -92.8630069211952]

In [43]:
g = geocoder.arcgis('Highway 52 Pine Island Oronoco')
print(g.latlng)

[44.16085994906796, -92.54030193326865]

In [44]:
g = geocoder.arcgis('Interstate 35 Northbound')
print(g.latlng)

[41.256360080500855, 13.60799996335631]

In [37]:
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp(u"Hello, world. Here are two sentences.")
print([t.text for t in doc])

['Hello', ',', 'world', '.', 'Here', 'are', 'two', 'sentences', '.']

In [38]:
import spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp(u"San Francisco considers banning sidewalk delivery robots")
for ent in doc.ents:
    print(ent.text, ent.start_char, ent.end_char, ent.label_)

San Francisco 0 13 GPE